

<div style='height:1000px;'>
<h4> <%=@title%> <검색 결과></h4> <!-- 여기에 params로 어떤 검색을 했는지 써줄것 -->
<div class="carousel" style="overflow: visible !important;">
<div>
<% @books.each do |book| %>

    <% @book = book.children.children.children.children %>
    <% @img = book.children.children.children[2].attr('src')%>
    <% @link = book.children.children.children.at("a").attr('href')%>

    
    <% if @bookArr.include?(@book[1].text) %>
     
    <!--<a href="<%=@link%>">
      <%=  @book[5].text %><br></a>-->
    
        
    <% else %>
    </div>
    <div class="carousel-item" style="overflow: visible !important;">
        <img src="<%= @img%>">
        <h4>[<%= @i %>]<%= @book[1].text %></h4>
       <!--> <a href="<%=@link%>">
        <%=  @book[5].text %></a>-->
        <% @bookArr.push(@book[1].text) %>
        <% @i = @i+1 %>
        
    <% end %>

  
<% end %>
</div>
<end>
</div>

 
    
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems);
  });
</script>  