
<style>
    .zoom {
        zoom: 1.4
    }
</style>

<div style='height:1000px;' >
<h3 align="middle" style="color:white;" class='font'>< '<%=@title %>' 검색 결과 ></h3> <!-- 여기에 params로 어떤 검색을 했는지 써줄것 -->
<div class="carousel" style="overflow: visible !important; zoom: 1.8;">
<div>
<% @books.each do |book| %>

        <% @book = book.children.children.children.children %>
        <% @img = book.children.children.children[2].attr('src')%>
        <% @link = book.children.children.children.at("a").attr('href')%>

        
        <% if @bookArr.include?(@book[1].text) %>
        
        <!--<a href="<%=@link%>">
        <%=  @book[5].text %><br></a>-->
        
            
        <% else %>
        </div>
        <div class="carousel-item" style="overflow: visible !important;">
            <img src="<%= @img%>" onerror = "this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdg7filAZr2kOa36fyq4PtQvKx-LBypTWvq2anpWlTaQiklbJN'">
            <p align="middle" style="color:white;"><em><strong><%= @book[1].text %></strong></em></p>
        <!-- <a href="<%=@link%>">
            <%=  @book[5].text %></a> -->
            <% @bookArr.push(@book[1].text) %>
            
        <% end %>
    <% end %>
    </div>
</div>
  
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems);
  });
</script>  